@font-face {
  font-family: Poppins;
  src: url(fonts/Playpen_Sans\,Poppins\,Roboto.zip);
}
body {
  background: #F2F2F2;
}

.box {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 42px;
}
header {
  width: 100%;
  height: 131px;
  display: flex;
  justify-content: space-between;
}
.logo {
  max-width: 48px;
  width: 100%;
  height: 48px;
}
.nav-bar-ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 50px;
}
.nav-item {
  list-style: none;
  border-bottom: none;
}
.nav-item a {
  font-family: poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
}
.nav-item::after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 0;
  height: 3px;
  background: #29b24e;
}
.nav-item:hover::after {
  width: 100%;
}
.button {
  max-width: 156px;
  width: 100%;
  height: 47px;
  border-radius: 12px;
  background-color: #29b24e;
  border: none;
  color: white;
  font-family: poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.search-circle {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}
.search-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section-1 {
  margin-top: 41px;
  display: flex;
  flex-direction: row;
}
.side-info-bar {
  width: 395px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #F8F8F8;
  box-shadow: 0px 4px 25px 0px rgba(194, 194, 194, 0.31);
  text-align: left;
  margin-left: 140px;
  padding-left: 33px;
}
.locations {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 32px;
}
.dropdown-menu {
  max-width: 331px;
  width: 100%;
}
.for-check {
  padding-bottom: 10px;
}
.property {
  margin-top: 32px;
  margin-bottom: 13px;
}
.price-range{
  margin-top: 39px;
  margin-bottom: 13px;
}
.price-range-box {
  padding-bottom: 38px;
}
.main-img {
  width: 1225px;
  flex-shrink: 0;
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.47) 100%), lightgray 50% / cover no-repeat;
  margin-left: 20px;
  position: relative;
}
.info-on-the-img {
  color: rgba(0, 0, 0, 0.80);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
position: absolute;
top: 191px;
left: 793px;
}
.info-after-h1 {
  width: 336px;
  color: rgba(0, 0, 0, 0.80);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.8;
position: absolute;
top: 273px;
left: 1000px;
}
.search-room:hover {
  box-shadow: 5px 6px 5px 6px rgb(236, 203, 203),-1em 0 4em;
}
.search-room {
  width: 324px;
  height: 48px;
flex-shrink: 0;
border-radius: 10px;
background: rgba(248, 248, 248, 0.80);
box-shadow: 0px 4px 10px 0px rgba(124, 124, 124, 0.27);
}
input::placeholder {
  color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 24px;
}
.for-search {
  position: absolute;
  top: 337px;
  left: 1005px;
}
.search-svg {
  position: absolute;
  top: 15px;
  right: 15px;
}
.adds-heading {
  margin-left: 140px;
  margin-top: 32px;
  margin-bottom: 20px;
}
.trending-adds {
  color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 140px;
  margin-top: 20px;
}
.flex-container a {
  text-decoration: none;
}
.adds:hover {
  margin-top: -20px;
  background-color: rgb(152, 235, 152);
  transition: 0.8s;
}
.adds {
  width: 395px;
height: 424px;
flex-shrink: 0;
border-radius: 24px;
background: #F8F8F8;
box-shadow: 0px 4px 18px 0px rgba(194, 194, 194, 0.30);
position: relative;
}
.product-img {
  width: 363px;
flex-shrink: 0;
border-radius: 20px;
margin-left: 16px;
padding-top: 16px;
}
.for-vip {
  width: 76px;
height: 30px;
flex-shrink: 0;
border-radius: 15px;
background-color: #29B24E;
position: absolute; 
text-align: center;
  margin-left: 39px;
  margin-top: -190px;
}
.vip-text {
  color: #FFF;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 8px 11px;
}
.favourites-container{
  position: absolute;
  text-align: center;
  margin-left: 310px;
  margin-top: -40px;
}
.circle {
  position: relative;
  flex-shrink: 0;
fill: #FFF;
filter: drop-shadow(-2px 4px 20px rgba(109, 109, 109, 0.25));
}
.favourite-svg {
  position: absolute;
  left: 16px;
  margin-top: -27px;
}
.containers-heading {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
padding-top: 16px;
margin-left: 20px;
line-height: 24px;
}
.containers-par {
  color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.5;
padding-top: 8px;
margin-left: 20px;
}
.for-money {
  display: inline-block;
  color: #29B24E;
text-align: right;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 5px;
padding-left: 258px;
}
.for-month {
  display: inline-block;
  color: #000;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.bottom-line {
  width: 395px;
height: 1px;
flex-shrink: 0;
border-radius: 2px;
background: #CFEAD6;
text-decoration: none;
}
.bottom-bar {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  gap: 63px;
}
.for-bedroom {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.for-bathroom {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.for-km {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer {
  width: 100%;
height: 179px;
flex-shrink: 0;
border-radius: 25px;
background: #29B24E;
box-shadow: 0px 4px 25px 0px rgba(194, 194, 194, 0.10);
margin-top: 120px;
}
.flex-container-for-footer {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-left: 140px;
  padding-top: 32px;
}
.flex-container-for-footer li {
  list-style: none;
}
.flex-container-for-footer li a {
  color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
}
.flex-container-for-footer li a:hover {
color: #000;
}
.flex-container-for-footer-gmail {
  display: flex;
  flex-direction: row;
  margin-left: 368px;
  margin-right: 300px;
  padding-top: 5px;  
}
.footer_icons li s{
  display: flex;
  justify-content: space-around;
  font-family: Poppins400;
}
.footer_icons{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer_icons{
list-style-type: none;
display: none;
}
.plus_icon{
  background-color: #29B24E;
  border-radius: 12px;
  padding: 10px;
}
.footer_icons>li> h6{
  display: flex;
  justify-content: space-around;
  font-family: Poppins400;
} 
.for-web-pages {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-top: 5px;
}
.flex-container-for-footer-web {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-left: 40px;
  padding-top: -32px;
}
.footer-line {
  width: 1640px;
height: 1px;
border-radius: 40px;
background-color: #D0D0D0;
margin-left: 140px;
margin-top: 32px;
}
.last-text {
  display: flex;
  flex-direction: row;
  margin-left: 859px;
  padding-top: 25px;   
}
.last-text li {
  list-style: none;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.search-button-tel {
  width: 44px;
height: 44px;
flex-shrink: 0;
border-radius: 24px;
background: #F8F8F8;
box-shadow: 0px 4px 25px 0px rgba(185, 183, 183, 0.31);
position: relative;
display: none;
}
.search-icon {
width: 18px;
height: 18px;
position: absolute;
top: 40px;
left: 91px;
flex-shrink: 0;
display: none;
}
.main-img-tel {
  width: 335px;
height: 435px;
flex-shrink: 0;
border-radius: 24px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat, #D9D9D9;
display: none;
}

@media (max-width: 1024px) {
  body {
    align-items: center;
  }
  .nav-bar {
    display: none;
  }
  .button{
    display: none;
  }
  .for-search {
    display: none;
  }
  .search-button-tel {
    display: block;
  }
  .search-icon {
    display: flex;
    justify-content: end;
  }
.section-1 {
  margin-top: px;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 0px;
}
.main-img {
  display: none;
}
  .main-img-tel{
   display: block;
   margin-top: -58px;
}
.info-on-the-img {
  width: 241px;
  color: rgba(0, 0, 0, 0.80);
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 0;
top: 146px;
left: 67px;
}
.info-after-h1 {
  color: rgba(0, 0, 0, 0.80);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.8;
top: 226px;
left: 41px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
footer {
   width: 375px;
height: 326px;
display: flex;
flex-direction: row;
}

.footer-line {
  width: 335px;
height: 1px;
border-radius: 40px;
background: #D0D0D0;
margin-left: 0px;
}
.flex-container-for-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 0;
}
.flex-container-for-footer-gmail{
  display: none;
}
.flex-container-for-footer-web {
  display: flex;
  flex-direction: column;
  gap: 18px;
 margin-left: 276px;
 margin-top: -160px;
}
.last-text{
  width: 220px;
  margin-left: -300px;
  margin-top: 250px;
font-family: Poppins;
font-size: 14px;
}
.footer_icons {
  display: flex;
  margin-top: 250px;
  margin-left: -290px;
}
}